body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 0.2em;
}
h3{
    font-weight:normal;
    font-size: 1.5em;
    margin-bottom: 1em;
}
p{
    font-size: 1.1em;
    line-height: 1.6;
    color: #2f3640;
    margin: 0.3em 0;
}
#scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.divider{
    border-left: 1px solid black;
    height: 100px;
}

.sborder{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    height: 50px;
    width: 70px;
    margin:10px auto;
}
.block{
    border: 2px solid black;
    height: 60px;
    width: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;   /* optional, nicer look */
    cursor: pointer;       /* indicates clickable */
    transition: transform 0.2s; 
}
.block:hover {
    transform: scale(1.1);
}
#elements{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;

}